NEXT_PUBLIC_SITE_URL=https://proofpe.vercel.app
NEXT_PUBLIC_ADMIN_EMAILS=tintiinn18@gmail.com

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDBPOAh5GIjI5ywWIYvO84jusatTLftbio
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=proofpe-app.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=proofpe-app
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=proofpe-app.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1007441814125
NEXT_PUBLIC_FIREBASE_APP_ID=1:1007441814125:web:5e98b5cb07ff7c91fa1564
